<!DOCTYPE html>
<html>
    <link href="./assets/googlefonts-css" rel="stylesheet">
    <link href="./assets/bootstrap-5.0.0-dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <style>
      body {
        padding: 20px;
      }
    </style>
  </head>
  <body class="bg-gradient-primary">

    <div class="container">
	<h1>
		{{ .title }}
	</h1>
    </div>
    <script src="./assets/fontawesome.js"></script>
    <script src="./assets/popper-core-1.16.0/dist/popper.min.js" ></script>
    <script src="./assets/bootstrap-5.0.0-dist/js/bootstrap.min.js"></script>
</html>
